.header{
    background-color: #ffe600;
}
.navBarContainer{
    background-color: #ffe600;
}
.navBarDeskTop{
    display: none;
}
@media only screen and (min-width: 992px){
    .navBarDeskTop{
        display: initial;
    }
}