.header{
    background-color: #ffe600;
}
.navBarContainer{
    background-color: #ffe600;
}
.navBarDeskTop{
    display: none;
}
@media only screen and (min-width: 992px){
    .navBarDeskTop{
        display: flex;
        justify-content: space-around;
    }
    /* 
    Descomentar cuando haga cambiado el tamaño de la imagen en Photoshop a 23px
    .headerEnvio::before{
        content: url("../../Images/iconLocation.png");
    } */
    .subNavBarLinksContainer{
        display: flex;
        list-style: none;
    }
}